data/
drive/
keyframes/
outputs/
temp/
*.npy
*.npz
*.index
*.faiss
*.pkl
*.mp4
*.jpg
*.jpeg
*.zip

__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.ipynb_checkpoints/
*.egg-info/

.vscode/
.idea/
.DS_Store
local/
